body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://img.freepik.com/fotos-gratis/imagem-aproximada-de-baldes-de-pipoca-ao-lado-de-uma-claquete-em-um-fundo-cinza_181624-36144.jpg?w=1380");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
  
  img:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
  }
  
  button {
    margin-top: 8px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .filmeSorteado {
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
  }
  