body {
    font-family: 'Lucida Console', monospace;
    text-align: center;
    background-image: url('menina.jpeg');
    background-size: cover;
}
  
  .container {
    text-align: center;
    padding: 50px;
    height: 40vh;
  }

  .container2 {
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: top;
  }

  .page-title {
    color: black;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 20px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 40px;
    right: 40px;
  }